<mat-toolbar class="footer_bar">
    <div>
      <span>Copyright © 2023 created by Anthony Ng </span>
    </div>
      <div class="example-button-container">
      <button mat-mini-fab color="white" aria-label="GitHub" width = "30" (click)="openUrl('https://github.com/anthonyzng')">
        <img width="28" alt="Octicons-mark-github" src="https://upload.wikimedia.org/wikipedia/commons/thumb/9/91/Octicons-mark-github.svg/64px-Octicons-mark-github.svg.png">
      </button>
      <button mat-mini-fab color="white" aria-label="LinkedI" width = "30" (click)="openUrl('https://www.linkedin.com/in/anthonyzng')">
        <img width="28" alt="Octicons-mark-linkedin" src="https://upload.wikimedia.org/wikipedia/commons/thumb/f/f8/LinkedIn_icon_circle.svg/64px-LinkedIn_icon_circle.svg.png">
      </button>
      </div>
</mat-toolbar>
