<mat-card>
    <mat-card-header>
        <div class="ivc_img"><img mat-card-image src={{ivc_img}}></div>
        <mat-card-title-group>
            <mat-card-title>
                <button mat-button (click)="openUrl('https://www.ivcsol.com/')" >
                    <h1 href="https://www.ivcsol.com/">About IVC Consulting Group :</h1>
                </button>
            </mat-card-title>
            <mat-card-subtitle>
                <h3>
                    IVC - an authorized SAP Gold Partner and SAP reseller in Hong Kong - provides market-leading solutions for businesses
                </h3>
                <h4>Position : ABAP Programmer [From Aug 2020 to Api 2021]</h4>
                <h1>Responsibilities & Achievements at this Company : </h1>
                <br>
                <ul class="job-duty-text">
                    <li>Developed programs for various SAP ERP modules.</li>
                    <li>Provided technical support to customers to ensure their SAP software programs are functioning correctly.</li>
                    <li>Created ERP reports in SAP to assist customers in analyzing their data.</li>
                </ul>
            </mat-card-subtitle>
        </mat-card-title-group>
    </mat-card-header>
    <mat-card-content>
    </mat-card-content>
    <mat-card-footer>
    </mat-card-footer>
</mat-card>