<mat-card>
    <mat-card-header>
        <div class="computers_img"><img mat-card-image src={{computers_img}} id="computer-img-id"> <img mat-card-image src={{my_cats}} class="sun"></div>
        
        <mat-card-title-group>
            <mat-card-title>
            <h1>About Me :</h1>
            </mat-card-title>
            <mat-card-subtitle>
                <h3>My Name is Anthony,I am a full stack developer with a passion for creating high-quality applications. With a BSc in Information Technology and several years of experience working for large companies and international software consultants, I have gained expertise in a range of programming languages and technologies(Follow Above Tech Stack List :D).
                </h3>
                <br>
                <h3>I am constantly seeking opportunities to enhance my programming and project management skills, in order to create valuable and innovative applications for people. In my spare time, I also enjoy developing small games and tools for fun and practical purposes.</h3>
                <br>
                <h3>Thankyou for your reading :D</h3>
            </mat-card-subtitle>
        </mat-card-title-group>
    </mat-card-header>
    <mat-card-content>

    </mat-card-content>
    <mat-card-footer>
    </mat-card-footer>
</mat-card>