<mat-card>
    <mat-card-header>
        <div class="hactl_img"><img mat-card-image src={{uwe_img}}></div>
        <mat-card-title-group>
            <mat-card-title>
                <button mat-button (click)="openUrl('https://www.uwe.ac.uk/')" >
                    <h1 href="https://www.uwe.ac.uk/">About UWE :</h1>
                </button>
            </mat-card-title>
            <mat-card-subtitle>
                <h3>
                    The University of the West of England (also known as UWE Bristol) is a public research university, located in and around Bristol, England, UK. With more than 30,000 students and 3,000 staff, it is the largest provider of higher education in the South West of England.[6]
                </h3>
                <h4>Position : BSc of Information Technology Student [2019 - 2020][Grades: First Class]</h4>
                <h1>Responsibilities & Achievements at this Company : </h1>
                <br>
                <ul class="job-duty-text">
                    <li>Learning and practicing web application development, focusing on full-stack web development with AngularJS, NodeJS, and MongoDB.</li>
                    <li>Exploring machine learning, with a specific focus on computer vision. For my graduation thesis, I am comparing the accuracy of CNN and RCNN models in this area. [TensorFlowLite,Python,Androld]</li>
                    <li>Studying  project management, software development lifecycle, and IT professionalism and ethics.</li>
                </ul>
            </mat-card-subtitle>
        </mat-card-title-group>
    </mat-card-header>
    <mat-card-content>
    </mat-card-content>
    <mat-card-footer>
    </mat-card-footer>
</mat-card>
