.mat-mdc-card-title{
  font-size: 25px;
}
.mat-mdc-card-subtitle{
  font-size: 20px;
}

//header
.mat-mdc-card-header {
  display: flex;
}

.download{
  display: inline-block;
}
.download:hover{
  border-radius: 5%;
  border: 2px solid rgb(82, 228, 179);
}

.download_icon{
  animation: download_icon_animation 5s ease-in-out infinite;
}

@keyframes download_icon_animation {
  0%{
    color: #FF4136;
  }
  50%{
    color: #0074D9;
  }
  100%{
    color: #FFDC00;
  }
}


//self image
.mat-mdc-card-image{
height: 90%;
width: 90%;
border: 5px solid rgb(243, 104, 104);
}

.self_img{
  width: 500px;
  background-color: rgb(69, 71, 71);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  animation: img_border 8s ease-in-out infinite;
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  border: 3px solid #2d2e32;
  border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
  position: relative;
  transition: all 1s ease-in-out;
}

@keyframes img_border {
  0%{
    border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
  }
  50%{
    border-radius: 30% 60% 70% 40%/50% 60% 30% 60%;
  }
  100%{
    border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
  }
}

//width 900
@media (max-width:900px) {
  .mat-card {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  .mat-mdc-card-header {
    flex-direction: column-reverse;
  }
  .mat-mdc-card-image{
    height: 300px;
    width: 300px;
    border: 5px solid red;
    }
  .self_img{
    height: 350px;
    width: 350px;
    object-fit: cover;
    background-color: rgb(69, 71, 71);
    border-radius: 50%;
  }
  .mat-mdc-card-image{
    height: 90%;
    width: 90%;
    border: 5px solid rgb(87, 123, 243);
  }
}

////width 400 for mobile
@media (max-width:400px) {
  .mdc-card{
    padding: 1%;
  }
}


//text box
.mdc-fab{
  z-index: 1;
}
.tooltip {
  position: absolute;
  visibility: hidden;
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 5px;
  border-radius: 6px;
  top: -25px;
}

.tooltip::after {
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #333 transparent transparent transparent;
  top: -25px;
}

.button-tooltip:hover .tooltip {
  visibility: visible;
}

#icon_contact{
  top: -50px;
}