<mat-card>
    <mat-card-header>
        <mat-card-title-group>
            <mat-card-title>
            <h1>Hello,there I'm Anthonyz Ng</h1>
            </mat-card-title>
            <mat-card-subtitle>
                <h2>I'm a Full Stack Web Developer based in Canada / Hong Kong<mat-icon aria-hidden="false" fontIcon="location_on" class="red_icon"></mat-icon></h2>
                Contact Me :
                <button *ngFor="let contact of contact_name;let i = index" mat-mini-fab color="white" attr.aria-label={{contact}} width = "30" (click)="openUrl(contact_links[i])" class="button-tooltip">
                    <div class="tooltip" id="icon_contact">
                        {{contact}}
                    </div>
                    <img class="btn_img" alt={{contact}} src={{contact_icon[i]}}>
                </button>
                <button mat-mini-fab color="white" aria-label="Email" width = "30" (click)="sendEmail()" class="button-tooltip">
                    <div class="tooltip" id="icon_contact">
                        My Email
                    </div>
                    <img class="btn_img" alt="Octicons-mark-Leetcode" src="./assets/gmail.png">
                </button>
            </mat-card-subtitle>
        </mat-card-title-group>
        <div class="self_img"><img mat-card-image src={{self_img}}></div>
    </mat-card-header>
    <mat-card-content>
    </mat-card-content>
    <mat-card-footer>
        <h3>My Skills
        <mat-icon aria-hidden="false" fontIcon="more_vert"></mat-icon> 
        <button *ngFor="let s_name of skill_name;let q = index" mat-mini-fab color="white" attr.aria-label={{s_name}} width = "30" class="button-tooltip">
            <div class="tooltip">
                {{s_name}}
            </div>
            <img width="28" height = "28" alt={{s_name}} src={{skill_icon[q]}}>
        </button>
    </h3> 
    </mat-card-footer>
</mat-card>
