<mat-card>
    <mat-card-header>
        <div class="hactl_img"><img mat-card-image src={{ms_img}}></div>
        <mat-card-title-group>
            <mat-card-title>
                <button mat-button (click)="openUrl('https://careers.microsoft.com/students/us/en/gcr-internship')" >
                    <h1 href="https://careers.microsoft.com/students/us/en/gcr-internship">Microsoft Summer Internship Program - Hong Kong:</h1>
                </button>
            </mat-card-title>
            <mat-card-subtitle>
                <h3>
                    This project is a summer internship program established through collaboration between Mircrosoft - Hong Kong and Hong Kong Institute of Vocational Education with the aim of cultivating IT talent. The program lasts for three months and provides participants with an opportunity to learn about cutting-edge technologies in the industry and how to use them.
                </h3>
                <h4>Position : Summer Internship Student</h4>
                <h1>Responsibilities & Achievements at this Company : </h1>
                <br>
                <ul class="job-duty-text">
                    <li>Studying Azure Cloud Technology - in Low-code application development : Azure Chat Bot , Power Apps , Azure AI</li>
                    <li>Used Azure AI and Power Apps to create a Fruit recognition application which can get the images from your phone / image and return fruit information such as calorie and sugar</li>
                </ul>
            </mat-card-subtitle>
        </mat-card-title-group>
    </mat-card-header>
    <mat-card-content>
    </mat-card-content>
    <mat-card-footer>
    </mat-card-footer>
</mat-card>