<mat-card>
    <mat-card-header>
        <div class="hactl_img"><img mat-card-image src={{ive_img}}></div>
        <mat-card-title-group>
            <mat-card-title>
                <button mat-button (click)="openUrl('https://it.vtc.edu.hk/en/programmes/detail/it114105/')" >
                    <h1 href="https://it.vtc.edu.hk/en/programmes/detail/it114105/">About IVE :</h1>
                </button>
            </mat-card-title>
            <mat-card-subtitle>
                <h3>
                    Hong Kong and Hong Kong Institute of Vocational Education
                </h3>
                <h4>Position : Higher Diploma in Software Engineering - Student [2017 -2019] [CGPA:3.15]</h4>
                <h1>Responsibilities & Achievements at this Company : </h1>
                <br>
                <ul class="job-duty-text">
                    <li>Studying programming theory, which includes topics such as data structures and algorithms, networking, database principles, operating systems, and object-oriented programming, in order to kickstart my programming career.</li>
                    <li>Received the Reaching Out Award from the Hong Kong Education and Manpower Bureau, which has allowed me to attend a technology school in Japan to further explore my knowledge of IT technology.</li>
                </ul>
            </mat-card-subtitle>
        </mat-card-title-group>
    </mat-card-header>
    <mat-card-content>
    </mat-card-content>
    <mat-card-footer>
    </mat-card-footer>
</mat-card>