///navBar

.navBardemoBasicUsage md-content .ext-content {
    padding: 50px;
    margin: 20px;
    background-color: #FFF2E0; }


.spacer {
    flex: 1 1 auto;
}

.icon-large {
    height: 35px;
    width: 35px;
    transform: scale(2);
}

.bg{
    display: block;
    background-image: url('/assets/bg.png');
    background-size: cover;
}