
<title>Anthonyz Ng Web</title>
<mat-toolbar color="primary">
    <mat-toolbar-row>
      <span>Anthonyz Ng</span>
      <button mat-icon-button (click)="sidenav.toggle()">
        <mat-icon svgIcon="my-icon" class="icon-large" >menu</mat-icon>
      </button>
      <div class="spacer"></div>
      <button mat-button routerLink="/home">Home</button>
      <button mat-button routerLink="/cv">CV</button>
      <button mat-button routerLink="/project">Project</button>
      <button mat-button routerLink="/tool">Tool</button>
      <button mat-button routerLink="/game">Game</button>
    </mat-toolbar-row>
    </mat-toolbar>
  
   <mat-sidenav-container class="bg">
    <mat-sidenav #sidenav>
      <mat-nav-list>
        <a mat-list-item routerLink="/home">Home</a>
        <a mat-list-item routerLink="/cv">CV</a>
        <a mat-list-item routerLink="/projects">Project</a>
        <a mat-list-item routerLink="/tools">Tool</a>
        <a mat-list-item routerLink="/game">Game</a>
      </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
      <div style="height: 88vh;">
        <router-outlet></router-outlet>
      </div>
    </mat-sidenav-content>
  </mat-sidenav-container>
  <app-footer></app-footer>