.tool_titlie{
    display: grid;
    justify-content: center;
}
.tool_img{
    border-radius: 300px;
    border: 2px solid black;
    height: 200px;
    width: 200px;
    display: flex;
    justify-content: center;
    padding: 5px;
    margin: 5px;
    transition: all 0.3s ease-out;
    animation: img_border 5s ease-in-out infinite;
}

.tool_img_container:hover{
    .tool_img{
        border: 2px dashed  black;
        animation: spin 2s linear infinite;
    }
}


@keyframes spin {
    0%{
        border-color: #FF4136;
        transform: rotateY(0deg);
    }
    50%{
        border-color: #0074D9;
    }
    100%{
        border-color: #FFDC00;
        transform: rotateY(360deg);
    }
  }

@keyframes img_border {
    0%{
        border-color: #FF4136;
    }
    50%{
        border-color: #0074D9;
    }
    100%{
        border-color: #FFDC00;
    }
  }


.tool_img_container{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 5px;
    margin: 5px;
}
.tool_content{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 100%;
    margin: 5px;
    padding: 5px;
    justify-content: center;
}

#icon-tools{
    font-size: 150px;
    margin: 25px;
}

//card
.mat-mdc-card-title-group{
    justify-content:center;
}
.mat-mdc-card{
    margin: 1%;
}
.mat-mdc-card-content{
    display: flex;
    width: 100%;
}
.mat-mdc-card-image{
    max-width: 450px;
    height: 400px;
    border-radius: 10%;
}
.mdc-button{
    margin: 5px;
}


@media (max-width:700px) {
    .tool_content{
        flex-direction: column;
    }
}