/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; 
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

.mat-mdc-card{
    margin : 5%;
}
h1{
  line-height: 1.2;
  color: rgb(102, 102, 226);
}
.mat-card {
    /* takes up 60% of available width (100% - 20% - 20%) */
   display: flex;
   flex-direction: row;
 }
 .mdc-card {
   display: flex;
   flex-direction: column;
   box-sizing: border-box;
   padding: 7%;
 }


 //img button
.btn_img{
    width: 38px;
  }
  .red_icon{
    color: rgb(224, 73, 73);
  }
  .mat-mdc-card-subtitle button{
    margin: 1%;
  }
  .mat-mdc-card-footer button{
    width : "30"; 
    margin: 1%;
  }
  .mdc-fab{
    width: 50px;
    height: 50px;
  }
  
  .mdc-fab:hover{
    animation-name:swingIcon ;
    animation-duration: 1s;
    animation-iteration-count: infinite;
  }
  
  @keyframes swingIcon {
    0%{
      transform: rotate(0deg);
    }
    50%{
      transform: rotate(15deg);
    }
    100%{
      transform: rotate(-15deg);
    }
  }