<div class="container">
<mat-card>
    <mat-card-header>
        <mat-card-title-group>
            <mat-card-title>
            Hello,there I'm Anthonyz Ng
            </mat-card-title>
            <mat-card-subtitle>
                <p>I'm a Full Stack Web Developer based in Canada / Hong Kong<mat-icon aria-hidden="false" fontIcon="location_on" class="red_icon"></mat-icon></p>
                <button mat-mini-fab color="white" aria-label="GitHub" width = "30" (click)="openUrl('https://github.com/anthonyzng')">
                    <img width="28" alt="Octicons-mark-github" src="https://upload.wikimedia.org/wikipedia/commons/thumb/9/91/Octicons-mark-github.svg/64px-Octicons-mark-github.svg.png">
                </button>
                <button mat-mini-fab color="white" aria-label="LinkedI" width = "30" (click)="openUrl('https://www.linkedin.com/in/anthonyzng')">
                    <img width="28" alt="Octicons-mark-linkedin" src="https://upload.wikimedia.org/wikipedia/commons/thumb/f/f8/LinkedIn_icon_circle.svg/64px-LinkedIn_icon_circle.svg.png">
                </button>
                <button mat-mini-fab color="white" aria-label="Email" width = "30" (click)="sendEmail()">
                    <mat-icon class="blue_icon">email</mat-icon>
                </button>
            </mat-card-subtitle>
            <div class="self_img"><img mat-card-image src="./assets/c_linkg_pig.svg"></div>
        </mat-card-title-group>
    </mat-card-header>
    <mat-card-content>

            
    </mat-card-content>
    <mat-card-footer>
        <h3>Tech Stack 
        <mat-icon aria-hidden="false" fontIcon="more_vert"></mat-icon> 
        <button mat-mini-fab color="white" aria-label="HTML5" width = "30" >
            <img width="28" alt="html5" src="https://upload.wikimedia.org/wikipedia/commons/thumb/6/61/HTML5_logo_and_wordmark.svg/32px-HTML5_logo_and_wordmark.svg.png">
        </button>
        <button mat-mini-fab color="white" aria-label="CSS" width = "30" >
            <img width="28" height = "28" alt="CSS" src="https://upload.wikimedia.org/wikipedia/commons/thumb/d/d5/CSS3_logo_and_wordmark.svg/32px-CSS3_logo_and_wordmark.svg.png">
        </button>
        <button mat-mini-fab color="white" aria-label="CSS" width = "30" >
            <img width="28" height = "28" alt="CSS" src="https://upload.wikimedia.org/wikipedia/commons/thumb/9/99/Unofficial_JavaScript_logo_2.svg/32px-Unofficial_JavaScript_logo_2.svg.png">
        </button>
    </h3> 
    </mat-card-footer>
</mat-card>


