@import 'swiper/scss';
@import 'swiper/scss/navigation';
@import 'swiper/scss/pagination';

.container{
    height: 100vh;
}
.Workstitle{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: black;
}
