<div class="container" id="container">
    <h2 class="Workstitle">My Working Experience</h2>
    <div class="swiper-area">
        <swiper [config]="config">
            <ng-template swiperSlide>
                <div class="swiper-item">
                    <app-hactl></app-hactl>
                </div>
            </ng-template>
            <ng-template swiperSlide>
                <div class="swiper-item">
                    <app-ivc></app-ivc>
                </div>
            </ng-template>
            <ng-template swiperSlide>
                <div class="swiper-item">
                    <app-uwe></app-uwe>
                </div>
            </ng-template>
            <ng-template swiperSlide>
                <div class="swiper-item">
                    <app-ms></app-ms>
                </div>
            </ng-template>
            <ng-template swiperSlide>
                <div class="swiper-item">
                    <app-ivc></app-ivc>
                </div>
            </ng-template>
        </swiper>
    </div>
</div>